* {
  box-sizing: border-box;
}


#game {
  margin: auto;
  height: 100vh;
  width: 90vh;
}

#canvas-main {
  width: 100%;
}


.screen {
  width: 100%;
  height: 100%;
  display: none;
}


.active {
  display: block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ffffff;
  margin: 1em 0;
  padding: 0;
}

.dim {
    display: none;
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color:black;
    filter: alpha(opacity=75); /* internet explorer */
    -khtml-opacity: 0.75;      /* khtml, old safari */
      -moz-opacity: 0.75;      /* mozilla, netscape */
           opacity: 0.75;      /* fx, safari, opera */
}